@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    font-family: "Montserrat"
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  

.labels {
  display: flex;
  flex-direction: row;
}

.label {
  margin: 15px;
}

.emojiContainer {
    align-items: stretch;

}
