.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.labels {
  display: flex;
  flex-direction: row;
}

.label {
  margin: 15px;
}

.emojiContainer {
    align-self: stretch;

}
